<div class="container" id="i18_link">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="link.link">Extra</span></h1>
        </div>
    </div>
    <div class="extras-grid">
    {% for link in site.data.index.links %}
        <div class="extra-card wow fadeInUp">
            <div class="extra-card-header">
                {% if link.img %}
                <img class="extra-card-icon{% if link.logo %} extra-card-icon--logo{% endif %}" src="{{ '/static/assets/img/landing/' | prepend: site.baseurl }}{{ link.img }}" alt="">
                {% endif %}
                <div>
                    {% if link.year %}
                    <span class="extra-card-year">{{ link.year }}</span>
                    {% endif %}
                    <h3 class="extra-card-title">{{ link.last_name }}{% unless link.first_name == blank %} {{ link.first_name }}{% endunless %}</h3>
                    {% if link.org %}
                    <span class="extra-card-org">{{ link.org }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="extra-card-desc">{{ link.desc | markdownify }}</div>
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p id="jalpc_site_pv"><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
    </div>
</div>
