<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">Projects</span></h1>
        </div>
    </div>
    <div class="project-grid">
        {% for project in site.data.index.projects %}
        <div class="project-card wow fadeInUp">
            {% if project.img %}
            <div class="project-card-media" style="background-image: url('{{ project.img | prepend: site.baseurl }}');"></div>
            {% endif %}
            <div class="project-card-body">
                {% if project.year %}
                <span class="project-card-year">{{ project.year }}</span>
                {% endif %}
                <h3 class="project-card-title">
                {% if project.url %}
                <a href="{{ project.url }}" target="_blank" rel="noopener">{{ project.name }}</a>
                {% elsif project.repo %}
                <a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" target="_blank" rel="noopener">{{ project.name }}</a>
                {% else %}
                {{ project.name }}
                {% endif %}
                </h3>
                <p class="project-card-desc"><span data-i18n="projects.{{ project.i18n }}">{{ project.desc }}</span></p>
                {% if project.repo %}
                <div user="{{ project.gh_user }}" repo="{{ project.repo }}" class="ghbtn project-card-stats">
                    <a target="_blank" rel="noopener" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/stargazers" class="stat star"><i class="fa fa-star" aria-hidden="true"></i> ...</a>
                    <a target="_blank" rel="noopener" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network" class="stat fork"><i class="fa fa-code-fork" aria-hidden="true"></i> ...</a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
