<ul class="{{ include.class | default: 'list-inline social-icon' }}">
    {% if site.author.github_username %}
    <li><a href="https://github.com/{{ site.author.github_username }}" target="_blank" rel="noopener" aria-label="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.author.linkedin_id %}
    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="_blank" rel="noopener" aria-label="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.author.facebook_username %}
    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="_blank" rel="noopener" aria-label="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.author.twitter_username %}
    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="_blank" rel="noopener" aria-label="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    {% endif %}
    {% if site.author.email %}
    <li><a href="mailto:{{ site.author.email }}" aria-label="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
    {% endif %}
    <li><a href="{{ site.baseurl }}/feed.xml" target="_blank" rel="noopener" aria-label="RSS feed"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
    {% if site.author.cv %}
    <li><a href="{{ site.author.cv }}" target="_blank" rel="noopener" aria-label="CV"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></li>
    {% endif %}
</ul>
